<mat-toolbar class="app-title">Filmes Cadastrados</mat-toolbar>

<div  class="home-content">

  <mat-card class="home-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Angular Material @ngrx</mat-card-title>
      <mat-card-subtitle>Check this Home</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../assets/images/angular-material-post.png" alt="Angular Material 7">
    <mat-card-content>
      <p>
        Amgular Material
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" (click)="open()" mat-raised-button>OPEN</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #semRegistro>
  <h1 class="full-width main-div">Nenhum registro encontrado!</h1>
</ng-template>